beautifulsoup4==4.13.3
colorama==0.4.6
crewai==0.105.0
crewai-tools==0.36.0
datasets==3.3.2
duckduckgo_search==7.5.1
faiss-gpu-cu12==1.9.0.0
jupyterlab==4.3.5
langchain==0.3.20
langchain-community==0.3.19
langchain-nvidia-ai-endpoints==0.3.9
langgraph==0.3.7
matplotlib==3.10.1
networkx==3.4.2
nltk==3.9.1
pandas==2.2.3
plotly==6.0.0
pyvis==0.3.2
ragas==0.2.3
rank-bm25==0.2.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
transformers==4.46.3